h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 4rem;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 24px;
}
.h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
nav {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    padding: 12px;
    flex-grow: 1;
    align-items: right;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-left: 16px;
    padding-right: 16px;
}
.h3{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bolder;
    font-size: medium;
}
#main-image{
    height: 300px;
    margin: 1rem;
    align-items: center;
}
#main-1{
    padding: 2rem;
    display: flex;
    background-color: #e5e5e5;
    align-items: center;
    justify-content: center;
}

#main-2{
    background-color: #B0DEEB;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: center;
}
#main-3{
    padding: 2rem;
    display: flex;
    background-color: #e5e5e5;
    align-items: center;
    justify-content: center;
}
#gallery-image{
    height: 250px;
}
#gallery{
    background-color: #B0DEEB;
    padding: 16px;
    text-align: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
}
nav ul li a:hover {
    color: yellow;
}
.header-container {
    display: flex;
    align-items: center;
    background-color: #3FB8A7;
    padding: 10px;
    justify-content: space-between;
}
.logo {
    margin-right: 20px;
}

.logo img {
    height: 70px;
}
.column1{
    margin-left: 4rem;
    margin-right: 4rem;
}
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer .social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 1.5rem;
}

.footer .page-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.footer .page-links a:hover {
    text-decoration: underline;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul li{
    list-style:none;
}
.btn-custom {
    background-color: #3FB8A7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.btn-custom:hover {
    background-color: yellowgreen;
    color: white;
}
#main-4 {
    padding-bottom: 26px;
    align-items: center;
}
.form-group {
    margin-bottom: 1.5rem;
}
@media (max-width: 767.98px) {
    #nav {
        display: none;
    }
}
#gallery-image {
    padding-bottom: 24px;
}
.hero-image-1 {
    background-image: url('../assets/hero-img.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    color: white;
}
.hero-image-2 {
    background-image: url('../assets/hero-img-2.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    color: white;
}
.hero-image-3 {
    background-image: url('../assets/hero-img-3.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    color: white;
}
.hero-image-4 {
    background-image: url('../assets/hero-img-4.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    color: white;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.whatsapp-icon {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    border-radius: 200px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    transition: transform 0.3s ease;
}
.whatsapp-icon:hover {
    transform: scale(1.1) rotate(20deg);
}