// Sección footer //

.footer {
    @include font-style;
    padding-bottom: 24px;
    background-color: #333;
    color: white;
    padding: 20px 0;

    .social-icons {
        a {
            color: white;
            margin-right: 10px;
            font-size: 1.5rem;
        }
    }

    .page-links {
        a {
            color: white;
            margin-left: 20px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        li {
            list-style: none;
        }
    }
}
