// Contiene los estilos de la navbar superior // 

nav {
    @include font-style;
    font-size: small;
    background-color: aquamarine;
    padding: 12px;
    flex-grow: 1;
    align-items: right;

    ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: flex-end;

        li {
            float: left;

            a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-weight: 400;

                &:hover {
                    color: yellow;
                }
            }
        }
    }
}
.logo {
    margin-right: 20px;

    img {
        height: 70px;
    }
}
