//Import de otras hojas de estilos//
@import 'partials/nav';
@import 'partials/footer';
@import 'partials/buttons.scss';

// Uso de mixin para estilos de texto //
@mixin font-style() {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    @include font-style;
    font-size: 4rem;
}

p {
    @include font-style;
    font-size: medium;
}

// Secciones 'main' //
#main-1 {
    padding: 2rem;
    display: flex;
    background-color: #e5e5e5;
    align-items: center;
    justify-content: space-between;
}

#main-2 {
    @extend #main-1;
    background-color: #B0DEEB;
}
#main-3 {
    @extend #main-1;
}
#main-4 {
    @extend #main-1;
    padding-bottom: 26px;
}
#main-image {
    margin: 24px;
}
@media (max-width: 767.98px) {
    #nav {
        display: none;
    }
}
#gallery-image {
    padding-bottom: 24px;
}
.hero-image {
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    color: white;
}

.hero-image-1 {
    @extend .hero-image;
    background-image: url('../assets/hero-img.jpg');
}

.hero-image-2 {
    @extend .hero-image;
    background-image: url('../assets/hero-img-2.jpg');
}

.hero-image-3 {
    @extend .hero-image;
    background-image: url('../assets/hero-img-3.jpg');
}

.hero-image-4 {
    @extend .hero-image;
    background-image: url('../assets/hero-img-4.jpg');
}
.whatsapp-icon {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    border-radius: 200px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.1) rotate(20deg);
    }
  }
  
